<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<monetra_client_ticket>
				<active>1</active>
				<model>Monetra\Monetra\Model\ClientTicket</model>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
				<title>Credit Card (Monetra PaymentFrame)</title>
				<expdate_format>single-text</expdate_format>
				<auto_reload>1</auto_reload>
				<autocomplete>0</autocomplete>
				<user_facing_deny_message>There was a problem with the provided credit card. Please try a different one or contact support for more information.</user_facing_deny_message>
				<user_facing_error_message>We experienced a problem while attempting to process your payment. Please contact support for more information.</user_facing_error_message>
			</monetra_client_ticket>
		</payment>
		<dev>
		  <js>
		    <minify_exclude>
		      PaymentFrame.js
		    </minify_exclude>
		  </js>
		</dev>
		
	</default>
</config>
