<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<monetra_client_ticket>
				<active>0</active>
				<cctypes>AE,VI,MC,DI,JCB,OT</cctypes>
				<model>Monetra\Monetra\Model\ClientTicket</model>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
				<title>Credit Card (Monetra Client Ticket Request)</title>
				<user_facing_deny_message>There was a problem with the provided credit card. Please try a different one or contact support for more information.</user_facing_deny_message>
				<user_facing_error_message>We experienced a problem while attempting to process your payment. Please contact support for more information.</user_facing_error_message>
				<usecvv>1</usecvv>
				<required_payment_fields>account,expdate,cardholdername,cv,street,zip</required_payment_fields>
			</monetra_client_ticket>
		</payment>
	</default>
</config>
