<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Monetra\Monetra\Model\ClientTicket">
		<arguments>
			<argument name="data" xsi:type="array">
				<item name="formBlockType" xsi:type="string">Monetra\Monetra\Block\Form</item>
			</argument>
		</arguments>
	</type>
</config>
