<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment">
			<group id="monetra_client_ticket" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Monetra PaymentFrame</label>
				<field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="payment_action" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Payment Action</label>
					<source_model>Monetra\Monetra\Model\Source\PaymentAction</source_model>
				</field>
				<field id="title" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Title</label>
				</field>
				<field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
				</field>
				<field id="payment_server" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Payment Server</label>
					<source_model>Monetra\Monetra\Model\Source\PaymentServer</source_model>
				</field>
				<field id="monetra_host" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
					<depends>
						<field id="payment_server">custom</field>
					</depends>
					<label>Monetra Host</label>
				</field>
				<field id="monetra_port" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
					<depends>
						<field id="payment_server">custom</field>
					</depends>
					<label>Monetra Port</label>
				</field>
				<field id="monetra_apikey_id" translate="label" type="text" sortOrder="37" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Monetra API Key ID</label>
				</field>
				<field id="monetra_apikey_secret" translate="label" type="obscure" sortOrder="37" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Monetra API Key Secret</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="monetra_apikey_generate" translate="label" type="button" sortorder="37" showInDefault="1" showInWebsite="1" showInStore="0">
					<frontend_model>Monetra\Monetra\Block\GenerateApiKeyButton</frontend_model>
					<label>Generate API Key</label>
				</field>
				<field id="expdate_format" translate="label" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Expiration Date Format</label>
					<source_model>Monetra\Monetra\Model\Source\ExpDateFormat</source_model>
				</field>
				<field id="auto_reload" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Auto-reload</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="autocomplete" translate="label" type="select" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Autocomplete</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="css_url" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>CSS Path</label>
				</field>
				<field id="user_facing_deny_message" translate="label" sortOrder="85" type="textarea" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>User-Facing Payment Denial Message</label>
				</field>
				<field id="user_facing_error_message" translate="label" sortOrder="90" type="textarea" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>User-Facing Payment Error Message</label>
				</field>
				<field id="sort_order" translate="label" type="text" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Sort Order</label>
					<frontend_class>validate-number</frontend_class>
				</field>
			</group>
			<group id="monetra_account_vault" translate="label" type="text" sortOrder="501" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Monetra Account Vault</label>
				<field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Title</label>
				</field>
			</group>
		</section>
	</system>
</config>
