<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment">
			<group id="monetra_client_ticket" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Monetra PaymentFrame</label>
				<field id="active" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="payment_action" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Payment Action</label>
					<source_model>Monetra\Monetra\Model\Source\PaymentAction</source_model>
				</field>
				<field id="title" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Title</label>
				</field>
				<field id="order_status" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
				</field>
				<field id="payment_server" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Payment Server</label>
					<source_model>Monetra\Monetra\Model\Source\PaymentServer</source_model>
				</field>
				<field id="monetra_host" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Monetra Host</label>
				</field>
				<field id="monetra_port" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Monetra Port</label>
				</field>
				<field id="monetra_username" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Monetra Username</label>
				</field>
				<field id="monetra_password" translate="label" type="obscure" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Monetra Password</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="expdate_format" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Expiration Date Format</label>
					<source_model>Monetra\Monetra\Model\Source\ExpDateFormat</source_model>
				</field>
				<field id="auto_reload" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Auto-reload</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="autocomplete" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Autocomplete</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="css_url" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>CSS Path</label>
				</field>
				<field id="user_facing_deny_message" translate="label" type="textarea" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>User-Facing Payment Denial Message</label>
				</field>
				<field id="user_facing_error_message" translate="label" type="textarea" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>User-Facing Payment Error Message</label>
				</field>
				<field id="sort_order" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Sort Order</label>
					<frontend_class>validate-number</frontend_class>
				</field>
			</group>
		</section>
	</system>
</config>
